black
flake8
missingno
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
scikit-learn
tqdm
typer
xgboost
lightgbm
shap
mlflow
joblib
# ydata-profiling
#-e .
